<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <!-- Metadata -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="msapplication-TileColor" content="#FFFFFF">
        <meta name="msapplication-TileImage" content="{{ 'tileicon.png' | asset_url }}">
        <meta name="google-site-verification" content="gopDaCxjZ65WuEmxSNOwiNi4-Ddc1JAJV3gAKGfCfuA">

        <!-- Title & Description -->
        <title>
            {{ page_title }}
            {% if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif %}
            {% if current_page != 1 %} &ndash; Page {{ current_page }}{% endif %}
            {% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
        </title>
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}

        <!-- Links -->
        <link rel="canonical" href="{{ canonical_url }}">
        <link rel="apple-touch-icon-precomposed" href="{{ 'apple-touch-icon-152x152-precomposed.png' | asset_url }}">
        <link rel="icon" href="{{ 'favicon.png' | asset_url }}">
        <!--[if IE]><link rel="shortcut icon" href="{{ 'favicon.ico' | asset_url }}"><![endif]-->
        <!-- or, set /favicon.ico for IE10 win -->
        <link href="http://fonts.googleapis.com/css?family=Lato:300,700,300italic" rel="stylesheet" type="text/css">

        <!-- Shopify Content for Header -->
        {{ content_for_header }}

        <!-- Modernizr & CSS -->
        {{ "modernizr-2.6.2.min.js" | asset_url | script_tag }}
        {{ "style.css" | asset_url | stylesheet_tag }}
    </head>
    <body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, ' | handle }}" >

        <header id="main-header" role="banner" class="cf">
            <h1 id="logo">
                <a href="http://www.kissenstudio.com" class="link--svg">
                    <object id="logo__object" data="{{ "logo--pink.svg" | asset_url }}" role="img" title="Kissen Studio">
                        <img alt="Kissen Studio logo" src="{{ "logo--pink.png" | asset_url }}">
                    </object>
                    <span class="accessibility">Kissen Studio</span>
                </a>
            </h1>

            <a id="menu-trigger" href="#footer">
                <span class="accessibility">Menu</span>
                <span id="menu-trigger__icon" aria-hidden="true"></span>
            </a>

            <a id="cart-link" href="/cart">
                <span class="accessibility">Cart</span>
                <span id="cart-link__icon" {% if cart.item_count > 0 %}class="link--loud"{% endif %} aria-hidden="true"></span>
            </a>

            <nav id="main-nav" role="navigation">
                <h2 class="accessibility">Main navigation</h2>
                <ul>
                    <li>
                        <form action="/search" method="get" class="search-form" role="search">
                            <label class="accessibility" for="search">Search</label>
                            <input id="search" class="search__input one-whole" name="q" type="text" placeholder="Search"><!--
                         --><button class="search__button" type="submit">
                                <span class="accessibility">Search</span>
                                <span class="search__icon" aria-hidden="true"></span>
                            </button>
                        </form>
                    </li>
                    {% for link in linklists.main-menu.links %}
                        <li>
                            <a href="{{ link.url }}">{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        {% if template == "list-collections" %}
            {% include "collection-listing" %}
        {% else %}
            {{ content_for_layout }}
        {% endif %}

        <footer id="footer" role="contentinfo">
            <div class="content">
                <nav role="navigation">
                    <div class="grid">
                        <div class="grid__item one-half lap-and-up-one-quarter">
                            <strong class="display--block repel-half--bottom">Shop</strong>
                            <ul class="nav nav--stacked">
                                {% for link in linklists.main-menu.links %}
                                    <li><a class="link text--left display--inline" href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--
                     --><div class="grid__item one-half lap-and-up-one-quarter">
                            <strong class="display--block repel-half--bottom">Help</strong>
                            <ul class="nav nav--stacked">
                                {% for link in linklists.help.links %}
                                    <li><a class="link text--left display--inline" href="{{ link.url }}">{{ link.title }}</a></li>
                                {% endfor %}
                            </ul>
                        </div><!--
                     --><div class="grid__item one-half lap-and-up-one-quarter">
                            <strong class="display--block repel-half--bottom">Info</strong>
                            <ul class="nav nav--stacked">
                                {% for link in linklists.footer.links %}
                                    <li>
                                        {% if link.handle == "blog" %}
                                            <span class="one-whole">{{ link.title }} - <em class="muted">Coming soon!</em></span>
                                        {% else %}
                                            <a class="link text--left display--inline" href="{{ link.url }}">{{ link.title }}</a>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div><!--
                     --><div class="grid__item one-half lap-and-up-one-quarter">
                            <strong class="display--block repel-half--bottom">Follow me</strong>
                            <ul class="nav nav--stacked">
                                {% for link in linklists.social-media.links %}
                                    <li>
                                        <a class="link text--left display--inline" href="{{ link.url }}">{{ link.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </nav>

                <small>&copy; Copyright 2014 Kissen Studio. All Rights Reserved.</small>
            </div>
        </footer>

        <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
        {{ "shop.js"  | asset_url | script_tag }}

    </body>
</html>