<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    {% if template == "index" %}
    <title>{{ shop.name }} | {{ page_title }}</title>
    {% elsif template == "404" %}
    <title>Page Not Found | {{ shop.name }}</title>
    {% else %}
    <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}
    {% if page_description %}
    <meta name="description" content="{{ page_description }}" />
    {% endif %}
    <link rel="canonical" href="{{ canonical_url }}" />
    <meta name="viewport" content="width=device-width" />
    {{ content_for_header }}
    {{ "modernizr-2.6.2.min.js" | asset_url | script_tag }}
    {{ "style.css" | asset_url | stylesheet_tag }}
    <!-- For IE to see the HTML5 stuff -->
    <!--[if lte IE 8]>
    {{ "h5.js" | asset_url | script_tag }}
    <![endif]-->
</head>
<body id="{{ page_title | handle }}" class="template-{{ template | replace: '.', ' ' | truncatewords: 1, ' | handle }}" >

    <header class="box--white box--border-bottom grid relative" role="banner">
        <h1 class="grid__item three-tenths flush--bottom">
            <div class="repel-half--ends repel-half--left line-height--zeta">
                <a class="link--svg" href="http://www.kissenstudio.com">
                    <object class="logo-object" data="{{ "logo--pink.svg" | asset_url }}" role="img" title="Kissen Studio">
                        <img alt="Kissen Studio logo" src="{{ "logo--pink.png" | asset_url }}">
                    </object>
                    <span class="accessibility">Kissen Studio</span>
                </a>
            </div>
        </h1><!--

     --><div class="grid__item four-tenths">
            <div class="repel--top repel--left soft-quarter--top text--center">
                <a class="cart gamma" href="/cart">
                    <span class="icon icon--cart cart__icon vert--middle" aria-hidden="true"></span>
                    <span class="accessibility">Cart</span>
                    {% if cart.item_count > 0 or true %}
                    <span class="cart__count loz soft-quarter--sides box--green vert--middle epsilon">{{ cart.item_count }} <span class="accessibility">{{ cart.item_count | pluralize: "item", "items" }}</span></span>
                    {% endif %}
                </a>
            </div>
        </div><!--

     --><nav class="grid__item three-tenths" role="navigation">
            <div class="repel-half--ends soft-quarter text--right">
                <h2 class="accessibility">Main navigation</h2>
                <button id="menu-button" class="button--text soft-quarter--sides alpha hidden" type="button">
                    <span class="icon icon--menu text--center beta" aria-hidden="true"></span>
                    <span class="accessibility">Menu</span>
                </button>
                <noscript>
                    <div class="soft--right text--right">
                        <a href="#footer">Menu</a>
                    </div>
                </noscript>
                <ul id="menu-list" class="nav nav--stacked nav--rwd soft--left box--zeta box--border-bottom text--left hidden">
                    <li class="soft-half box--zeta box--border-ends">
                        <div class="add-in">
                            <span class="icon icon--search add-in__item--left delta" aria-hidden="true"></span>
                            <label class="accessibility" class="accessibility" for="search">Search</label>
                            <input id="search" class="text-input one-whole add-in__holder--left" type="text" placeholder="Search" />
                        </div>
                    </li>
                    {% for link in linklists.main-menu.links %}
                    <li>
                        <a class="one-whole soft-half link weight--bold zeta" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </nav>

    </header>

    {% if template == "list-collections" %}
    {% include "collection-listing" %}
    {% else %}
    {{ content_for_layout }}
    {% endif %}

    <footer id="footer" role="contentinfo"></footer>

    <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
    <script>window.jQuery || document.write("<script src="assets/jquery-2.0.3.min.js"><\/script>")</script>
    {{ "foresight.min.js"  | asset_url | script_tag }}
    {{ "shop.js"  | asset_url | script_tag }}

</body>
</html>
