<div class="soft-half--sides">
    {% if cart.item_count > 0 %}
        <form action="/cart" method="post" id="cart" class="cart">
            {% for item in cart.items %}
                <div class="soft-half box--zeta box--border-bottom">
                    <a href="{{ item.product.url }}" class="display--block repel-half--bottom">
                        {{ item.product.title }}
                    </a>
                    <div class="grid">
                        <div class="grid__item one-third vert--middle">
                            <img class="one-whole" src="{{ item.product.featured_image | product_img_url: 'thumbnail' }}" alt="{{ item.product.featured_image.alt | escape }}">
                        </div><!--
                     --><div class="grid__item two-thirds">
                            <div class="grid">
                                <div class="grid__item three-fifths vert--top text--right">
                                    {{ item.price | money }}
                                </div><!--
                             --><div class="grid__item two-fifths vert--top">
                                    <select class="one-whole" name="updates[{{ item.variant.id }}]" id="quantity-{{ item.variant.id }}">
                                        {% for i in (1..item.variant.inventory_quantity) %}
                                            <option value="{{ i }}" {% if i == item.quantity %}selected{% endif %}>{{ i }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="text--right milli repel-half--top">
                                <a href="/cart/change/{{item.variant.id}}?quantity=0">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="repel-half--bottom soft-half box--zeta text--right">
                    Subtotal: {{ item.price | times: item.quantity | money }}
                </div>
            {% endfor %}
            <div class="text--right">
                <div class="repel--bottom">Total: <strong>{{ cart.total_price | money }}</strong></div>
                <input class="button" type="submit" id="update-cart" name="update" value="Update">
                <input class="button" type="submit" name="checkout" value="Checkout">
            </div>
        </form>
    {% else %}
        <p>It appears that your cart is currently empty!</p>
    {% endif %}
</div>