{% assign page = pages.frontpage %}
<div class="wrapper">
    <ul class="card-list">
        {% assign collection = collections.all %}
        {% for product in collection.products %}
            {% if forloop.index != 1 %}-->{% endif %}<li class="card-list__item">
                <div class="card card--split">
                    <a href="{{ product.url }}" class="card__image-container">
                        <img class="card__image" src="{{ product.featured_image | product_img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
                    </a>
                    <div class="card__copy">
                        <a href="{{ product.url }}" class="card__title">{{ product.title }}</a>
                        <span class="card__price">{{ product.price | money }}</span>
                    </div>
                </div>
            </li>{% if forloop.index != forloop.length %}<!--{% endif %}
        {% endfor %}
    </ul>
</div>